/** HTML ELEMENTS **/
body {
font-size: 12px;
color: #000000;
background-color: #FFFFFF;

}

h1 {}
h2 {}
h3 {}
a  {}
a:visited {}
a:hover {}
p {}


/** CUSTOM CLASSES **/
#container {
width: fluid;
width: 100%;
margin-left:0;}

#header {
position: relative;

text-align: left;
width: 20%;
height: 80px;
font-size: 14px;
background-color: #EFDECD;
-moz-border-radius:    10px;
-webkit-border-radius: 10px;
border-radius:         10px;
}

#left_sidebar {
float: left; //TODO - not for tables
width: 180px;
font-size: 20px;
color: #000000;
text-align: left;
background-color: #FFFFFF;
}

#right_sidebar {
float: right; //TODO - not for tables
width: 180px;
font-size: 20px;
color: #000000;
text-align: left;
background-color: #FFFFFF;
}

#main_content {
font-size: 14px;
color: #000000;
text-align: left;
margin-right: 180px;
margin-left: 180px;
  //TODO - diff for tables
background-color: red;
}

#wrapper2 {
background-color: #EFDECD;
 -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

