<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
  </head>
  <body>
<p>
</p>
<%  require 'simple-rss' %>
<% require 'open-uri' %>

<% @str_link = Settings.find_by_option_name("link1") %>
<% link = @str_link.option_status %>
<% feed_items = SimpleRSS.parse(open(link)).items %>
<% newss = {} %>
<% feed_items.each do |item| -%>
<% @name = item.title %>
<% if News.find_by_title(@name) == nil %>
<% newss[@name] = News.new %>
<% newss[@name][:title] = item.title %>
<% newss[@name][:link] = item.link %>
<% newss[@name][:description] = item.description %> 
<% newss[@name].save %>
<% else %>
<% @tmp = '1' %>
<% end %>
<% end-%>

<% @str_link = Settings.find_by_option_name("link2") %>
<% link = @str_link.option_status %>
<% feed_items = SimpleRSS.parse(open(link)).items %>
<% newss = {} %>
<% feed_items.each do |item| -%>
<% @name = item.title %>
<% if News.find_by_title(@name) == nil %>
<% newss[@name] = News.new %>
<% newss[@name][:title] = item.title %>
<% newss[@name][:link] = item.link %>
<% newss[@name][:description] = item.description %> 
<% newss[@name].save %>
<% else %>
<% @tmp = '1' %>
<% end %>
<% end-%>
<% @str_link = Settings.find_by_option_name("link3") %>
<% link = @str_link.option_status %>
<% feed_items = SimpleRSS.parse(open(link)).items %>
<% newss = {} %>
<% feed_items.each do |item| -%>
<% @name = item.title %>
<% if News.find_by_title(@name) == nil %>
<% newss[@name] = News.new %>
<% newss[@name][:title] = item.title %>
<% newss[@name][:link] = item.link %>
<% newss[@name][:description] = item.description %> 
<% newss[@name].save %>
<% else %>
<% @tmp = '1' %>
<% end %>
<% end-%>
<% @str_link = Settings.find_by_option_name("link4") %>
<% link = @str_link.option_status %>
<% feed_items = SimpleRSS.parse(open(link)).items %>
<% newss = {} %>
<% feed_items.each do |item| -%>
<% @name = item.title %>
<% if News.find_by_title(@name) == nil %>
<% newss[@name] = News.new %>
<% newss[@name][:title] = item.title %>
<% newss[@name][:link] = item.link %>
<% newss[@name][:description] = item.description %> 
<% newss[@name].save %>
<% else %>
<% @tmp = '1' %>
<% end %>
<% end-%>



<% page = open(@urla) %>
<% @text = page.read %>
<% @infa = @text.scan(%r{<p style="text-align: justify;">(.*)</p>}) %>
<% @infa.each do |t| -%>
<p style="width: 95%">
<%= t[0].html_safe %>
</p>
<% end -%>
<h1_2><a href=url>Ссылка на источник</a></h1_2>

  </body>
</html>
