
<div id="new" >
<% require 'cgi' %>
<%= stylesheet_link_tag 'style', :print => 'style' %>

<% novost = News.find(:all) -%>
<% novost.each do |item| %>
	<div id="wrapper2">
<p style="text-align: center; padding: 5px 0 0 0; font-size: 20px;">	<%= item.title %> </p>
<p style = " padding: 5px 0 0 15px"> <%=[CGI.unescapeHTML(item.description)].join.html_safe %> </p>
 <h1_2 ><a href= "news/<%=item.id%>" style = "padding:30px "> details  </a></h1_2>   
	</div> 
 <p> </p>
<% end -%>
</div>
	
						
	

