
<!DOCTYPE HTML PUBLIC "-//W3C//DTD -//W3C//DTD HTML 4.01//EN//EN" "">
<html>
	<head>
		<title></title>
<%= stylesheet_link_tag 'style', :print => 'style' %>

	</head>
<body>
<div id="container">	
	 <div id="header">
		<p><a href = "/" style = "padding: 32px; font-size: 16px"> HOME </a>
		<a href = "/details" style = "padding: 20px; font-size: 16px"> Update news </a>	</p>	
		</div>
			
		
		
	<div id="left_sidebar">
		LEFT SIDEBAR
	</div>
			
	<div id="right_sidebar">
		RIGHT SIDEBAR	
	</div>
		
	<div id="main_content">	
    	<%= yield %>		
	</div>
</div>	
</body>
</html>
